<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
<script src="<%- config.root %>js/misc.js"></script>

<% if (config.disqus_shortname){ %>
<script type="text/javascript">
var disqus_shortname = '<%= config.disqus_shortname %>';
(function(){
  var dsq = document.createElement('script');
  dsq.type = 'text/javascript';
  dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
}());
</script>
<% } %>

<% if (theme.fancybox){ %>
<link rel="stylesheet" href="https://cdn.staticfile.org/fancybox/3.0.47/jquery.fancybox.min.css" media="screen" type="text/css">
<script src="https://cdn.staticfile.org/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script type="text/javascript">
(function($){
  // Caption
  $('.entry').each(function(i){
    $(this).find('img').each(function(){
      var alt = this.alt;
      if (alt){
        $(this).after('<span class="caption">' + alt + '</span>');
      }
      $(this).wrap('<a href="' + this.src + '" data-fancybox="gallery" data-caption="' + alt + '" />');
    });
  });
})(jQuery);
</script>
<% } %>

<% if (theme.scrollup) { %>
<script src="https://cdn.staticfile.org/scrollup/2.4.1/jquery.scrollUp.min.js"></script>
<script type="text/javascript">
(function($){
  $.scrollUp({scrollText: '', scrollImg: true});
})(jQuery);
</script>
<% } %>
